.theContainer {
  height: 25rem;
  width: 30rem;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.84);
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .theContainer {
    height: 25rem;
    width: 20rem;
  }
}
@media only screen and (max-width: 300px) {
  .theContainer {
    height: 25rem;
    width: 15rem;
  }
}
.titleAdd {
  text-align: center;
  color: rgb(26, 93, 26);
  padding-top: 0.75rem;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}
input:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formContainer input {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
}
.formContainer label {
  margin-top: 0.5rem;
}
.formContainer {
  color: rgb(97, 130, 100);
}
.submitButton {
  border: none;
  border-radius: 10px;
  background-color: rgb(122, 157, 84);
  color: white;
  width: 20%;
  align-self: center;
}
.backContacts {
  color: rgb(122, 157, 84);
  text-decoration: none;
  align-self: center;
  margin-top: 1rem;
}
.backContacts:hover {
  color: rgb(97, 130, 100);
}
