.navbar {
  background-color: transparent;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
}
.fa-address-book {
  color: rgb(0, 66, 37);
  margin-left: 1rem;
}
.fa-address-book:hover {
  color: rgba(0, 66, 37, 0.76);
}
.addButton {
  background-color: rgb(0, 66, 37);
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 1rem;
  padding: 0.5rem;
}
.addButton:hover {
  background-color: rgba(0, 66, 37, 0.76);
  color: white;
}
